body {
    padding: 0;
    margin: 0;
    background-color: aquamarine;
}

h1 {
    margin: 0;
    text-align: center;
    color: black;
    font-family: sans-serif;
    font-size: 30px;
}
.main {
    position: absolute;
    margin: 1%;
    width: 1500px;
    height: 680px;
    border: 1px solid black;
    border-radius: 10px;    
}

.group {
    position: relative;
    margin: 1%;
    width: 450px;
    display: inline-block;
    height: 650px;
    border: 1px solid black;
    border-radius: 10px;
}

.square {
    display: inline-block;
    margin: 5px;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 10px;
}

.rectangle {
    font-display: inline-block;
    margin: 5px;
    width: 400px;
    height: 200px;
    border: 1px solid black;
    border-radius: 10px;
}

.bigsquare {
    font-display: inline-block;
    margin: 5px;
    width: 400px;
    height: 400px;
    border: 1px solid black;
    border-radius: 10px;
}