body {
    padding: 0;
    margin: 0;
    background-color: darkblue;
}

h1 {
    margin: 10px;
    text-align: left;
    color: aliceblue;
    font-family: sans-serif;
    font-size: 30px;
}

.main {
    position: absolute;
    margin: 1% 0;
    padding: 0;
    width: 1500px;
    height: 700px;
    border: 1px solid white;
    border-radius: 10px;    
}

.group {
    position: relative;
    margin: 10px;
    padding: 5px;
    width: 203px;
    line-height: 0;
    display: inline-block;
    vertical-align: top;
    height: 610px;
    border: 1px solid white;
    border-radius: 10px;
}

.square {
    display: inline-block;
    position: relative;
    margin: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: cadetblue;
}

.square__ml {
    margin-left: -.2em;
}

.rectangle {
    font-display: inline-block;
    position: relative;
    margin: 0;
    width: 160px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: blueviolet;
}

.bigsquare {
    font-display: inline-block;
    position: relative;
    margin: 0;
    width: 160px;
    height: 160px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: crimson;    
}

.bigsquare p, .square p,  .rectangle p {
    position: absolute;
    bottom: 0px;
    left: 10px;
}

.block__text {
    padding: 20px;
    text-align: center;    
    font-family: sans-serif;
    font-size: 25px;
    color: cornsilk;
}