body {
    padding: 0;
    margin: 0;
    background-color: lightcyan;
}

h1 {
    margin: 0;
    text-align: center;
    color: black;
    font-family: sans-serif;
    font-size: 30px;
}

.main {
    position: absolute;
    margin: 1%;
    padding: 0;
    width: 1500px;
    height: 680px;
    border: 1px solid black;
    border-radius: 10px;    
}

.group {
    position: relative;
    margin: 10px;
    padding: 5px;
    width: 203px;
    line-height: 0;
    display: inline-block;
    vertical-align: top;
    height: 610px;
    border-radius: 10px;
}

.square {
    display: inline-block;
    position: relative;
    margin: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background-color: cadetblue;
}

.square__ml {
    margin-left: -.36em;
}

.rectangle {
    font-display: inline-block;
    position: relative;
    margin: 0;
    width: 160px;
    height: 60px;
    border-radius: 10px;
    background-color: blueviolet;
}

.bigsquare {
    font-display: inline-block;
    position: relative;
    margin: 0;
    width: 160px;
    height: 160px;
    border-radius: 10px;
    background-color: crimson;    
}

.block__text {
    padding: 20px;
    text-align: center;
    vertical-align: bottom;
    font-family: sans-serif;
    font-size: 25px;
    color: cornsilk;
}